*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
    font-size: 0.8rem;
    background: #D9D9D9;
    font-family: 'Roboto', sans-serif;
   }
.container {
    background: #fff;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 1.4rem;
  }
  .form-group {
    position: relative;
    margin-bottom: 0.5rem;
    overflow: hidden; 
  }
input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 0.5rem 30px;
    font-family: Poppins;
    box-sizing: border-box; 
}
input::-webkit-input-placeholder {
    color: #999; 
    outline: none;
}
input:focus {
    outline: none;
    border-bottom: 1px solid #222; 
}
label {
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    color: #222; 
}
#time{
    color: #1e3b81;
    color: #0d2a82;
}
#userName{
    color: #c0342e;
}